
.jumbotron{
    background-image:url("images/back.png");
  text-align: center;
}
.jumbotron h1{
    padding:10px 25px;
}
.jumbotron h3{
    display:inline;
    padding:10px 25px;
    background-color:grey;
    color:white;
}
form label{
    margin-right:15px;
}
a img{
    border: 5px solid lightgrey;
    margin-top: 15px;
}
a img:hover{
    margin-top: 2px;
    opacity:0.5;
}

/*admin form*/
.form-style{
    padding:20px;
     background-color:lightsteelblue;
}
    
form label{
    margin-right:15px;
}

tbody tr:nth-child(odd) {
   background-color: lightsalmon;
}
